*{
box-sizing: border-box;
}
body{
    font-family:sans-serif;
    font-weight: 400;
    background-color: aliceblue;
}
#mount-point{
    display: flex;
    flex-direction: column;
    align-items: center;
}